
div.logo{
    list-style-type: none;
    padding:0;
    margin:0;
    background-color: black;
    display: flex;
    justify-content: center;
 }
 div.text-center{
     padding:1%;
 }
 .text-center a{
     display: none;
     text-decoration: none;
     color: white;
 }
 .text-center .sub{
     display: none;
 }
ul.menu{
   list-style-type: none;
   padding: 0;
   margin: 0;
   background-color:rgb(48, 46, 46);
   display: flex;
}
ul.menu > li > a{
   text-decoration: none;
   display: block;
   padding:11%;
   color: white;
   font-size: 120%;
   text-align: center;
}
ul.menu > li{
   width: 15%;
}
ul.menu > li > a:hover{
   background-color: rgb(207, 207, 216) ;
   color: rgb(10, 10, 10);
}
ul.menu{
   justify-content:center;
}
div.lines{
    display:flex;
    align-items: center;
 }
 div.line{
    position: relative;
    width: 33%;
 }
 div.line1{
    position: relative;
    width: 34%;
 }
ul.product-portfolio{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
ul.product-portfolio > li > a{
    text-decoration: none;
    display: block;
    padding: 10%;
    color:black;
    font-size: 120%;
    font-family:sans-serif;
    text-align: center;
 }
 ul.product-portfolio > li{
    width: 40%;
    height: auto;
    border: 1px solid #505050;
 }
 ul.product-portfolio > li > a:hover{
    background-color: rgb(207, 207, 216) ;
    color: rgb(10, 10, 10);
 }
 ul.product-portfolio{
    justify-content:center;
 }
 h1{
    text-align: center;
    font-family:initial;
}
div.item{
    position: relative;
    display: inline-block;
    width: 20%;
 }
 div.iteam{
    width: auto;
 }
 div.items{
    display:flex;
    background-color:black;
    color: white;
    padding: 1%;
 }
 h6{
     font-size: 1rem;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 p{
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .icon{
    display:block;
    position:fixed;
    bottom:1%;
    right:2%;
    color: rgb(53, 51, 51);
 }
 .icon:hover{
    background-color: rgb(11, 12, 12);
    color: white;
 }
 
 a.iconfb{
    color:rgb(127, 129, 133);
 }
 a.iconfb:hover{
    color: rgb(238, 226, 226);
 }
 a.iconins{
    color:rgb(127, 129, 133);
 }
 a.iconins:hover{
    color: rgb(238, 226, 226);
 } 
div.tours{
    display: flex;
    flex-wrap: wrap;
}
div.tour{
    width: 32%;
    background-color: rgb(192, 185, 176);
    margin: 0.5%;
    border-radius: 5%;
    position: relative;
}
div.tour img{
    width: 100%;
}
div.img-small{
    width: 20%;
    position: absolute;
}
div.img-big{
    display: flex;
    position: relative;
}
div.tour img:hover{
    transform: scale(1.2);
    transition: transform 1s;
}
div.img{
    overflow: hidden;
}
* {
    box-sizing: border-box;
}

div.infor{
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
}
div.info{
    width: 70%;
    margin: 1%;
}
div.title{
    text-align: center;
}
div.pay{
    width: 25%;
    text-align: right;
    margin: 0;
    padding: 0;
}
div.time{
    width: 70%;
}
div.money{
    width: 30%;
    text-align: right;
    margin-bottom: 1%;
    font-size: 125%;
    color: rgb(209, 19, 19);
}
div.button{
    margin-left: 60%;
}
div.button button{
    width: 170%;
    height: 40px;
    background-color: rgb(65, 62, 61);
    color: honeydew;
}
div.title-new{
    position: absolute;
    background-color: red;
    color: white;
    right: 1%;
    top: 1%;
    border-radius:0 25%;
    animation: doimau 1.5s infinite;
}
@keyframes doimau {
    from{
        background-color: red;
    }
    to{
        background-color: yellow;
    }
}
div.title-sale{
    position: absolute;
    background-color: red;
    color: white;
    right:1%;
    top:1%;
    border-radius:0 20%;
    animation: sale 2s infinite;
}
@keyframes sale {
    30%{
        background-color: red;
        color: white;
    }
    60%{
        background-color: yellow;
        color: red;
    }
    90%{
        background-color: rgb(17, 167, 236);
        color: violet;
    }
}
@media screen and (max-width:415px){
    ul.menu >li{
        display: none;
    }
    div.logo{
     justify-content: space-between;
     }
    .text-center a{
        display: block;
    }
    .subs:hover .sub{
     display:block;
    }
    .sub li a{
         text-decoration: none;
         text-align: left;
         font-size: 80%;
    }
    .sub li a:hover{
        color: rgb(83, 78, 78);
    }
    .sub{
     list-style-type: none;
    }
     div.item{
        display: none;
    }
    div.tour{
        width: 100%;
    }
     div.line{
         width:12%;
     }
     div.line1{
         width: 76%;
     }
    ul.product-portfolio > li >a{
        font-size: 80%;
     }
     .icon{
        font-size: 10px;
    }
    img#image-placeholder {
        margin-top: 200px;
        width: 90%;
    }
    span#close-icon {
        font-size: 30px;
    }
    body{
        margin: 0;
    }
    ul.text-center.subs{
        margin: 0 0 16px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
 }
div.item a{
     text-decoration: none;
     color: white;
 }
 div.item a:hover{
     color: rgb(97, 92, 92);
 }
 #lightbox {
    display: none;
    position: fixed; /* cố định vị trí hiển thị lightbox */
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8); /* màu nền đen với opacity 80% */
}
#image-placeholder {
    margin: auto;
    margin-top: 50px;
    display: block;
    width: 70%;
}
#close-icon {
    position: absolute;
    top: 1.5%;
    right: 3.5%;
    color: #f1f1f1;
    font-size: 50px;
}